@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@font-face {
  font-family: 'American Captain';
  src: url('/fonts/American-Captain.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 14px; /* より小さいフォントサイズ */
  }
}

/* タブレット用 */
@media (max-width: 768px) {
  html {
    font-size: 15px; /* 中間のフォントサイズ */
  }
}

/* 大きなスクリーン用 */
@media (min-width: 1024px) {
  html {
    font-size: 18px; /* より大きなフォントサイズ */
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: "American Captain" ,Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; 
}